html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Courier New', monospace;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FEEFDD; /* Color de fondo del navbar */
  padding: 10px 20px;
}
.navbar div {
  display: flex;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  color: #5A5A5A; /* Color del texto de los enlaces */
  margin: 0 5px; /* Espaciado reducido entre los íconos */
}
.navbar .logo {
  font-size: 30px; /* Tamaño más grande para el texto del centro */
  font-weight: bold;
  color: #E63946; 
  letter-spacing: 0.05em; /* Espaciado entre letras para un estilo más moderno */
  text-shadow: 2px 2px #F1FAEE; 
  font-family: 'Courier New', monospace;
  margin-left: 100px;
}
.navbar .social-media {
  font-size: 20px;
}
.navbar .social-media a {
  margin-right: 15px;
}
.navbar .menu {
  font-size: 18px;
}
.navbar .menu a {
  margin-right: 10px;
}
.navbar .login-logout a {
  background-color: transparent;
  color: #5A5A5A;
  border: none;
  padding: 0;
  cursor: pointer;
}

  /* Estilos del Contenido Principal */
  .main-content {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Para asegurarse de que no haya desbordamiento si la imagen es muy grande */
  }
  
  .main-content img {
    object-fit: contain; /* Asegura que la imagen se ajuste sin cortarse ni perder proporción */
    
  }
  
  .top-half {
    text-align: center; /* Esto centra la imagen si es más pequeña que el ancho del contenedor */
    padding: 0px; /* Esto agrega un poco de espacio arriba y abajo de la imagen */
    background-image: url(/FotosWeb/juguetes.png);
    height: 500px;
    width: 100%;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .top-half img {
    width: 100%;
    height: 400px;
    object-fit: cover; 
    display: block;
    margin: 0 auto; 
  }
  /* CARDS - Carrusel*/
  .cards-section-carousel {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0px;
    background-color: #FFF5EB;
    margin-bottom: -4px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    user-select: none;
    -webkit-user-drag: none;
    touch-action: pan-x;
    /* scroll-behavior: smooth; */ /* Opcional: descomentar si se desea suavidad en el scroll no automático */
    /* scroll-snap-type: none; */ /* Descomentar si se desactiva el scroll-snap */
  }
  
  .card {
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    text-align: center;
    display: inline-block;
    white-space: normal;
    flex: 0 0 auto;
    /* scroll-snap-align: none; */ /* Descomentar si se desactiva el scroll-snap */
    flex-shrink: 0;
  }
  .card-image {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
  }
  .image-1 {
    background-image: url(./FotosWeb/Fotos.png);
  }

  .image-2{
    background-image: url(./FotosWeb/Empresas.png);
  }

  .image-3{
    background-image: url(./FotosWeb/Destinatarios.png);
  }  

  .image-4{
    background-image: url(./FotosWeb/ComoAyudar.png);

  }

  .image-5{
    background-image: url(./FotosWeb/Grupo.jpg);
  }

  .card-text {
    height: 70px;
  }
  
  .cards-section-carousel::-webkit-scrollbar {
    display: none;
  }
  


.top-half {
  text-align: center; /* Esto centra la imagen si es más pequeña que el ancho del contenedor */
  padding: 0px; /* Esto agrega un poco de espacio arriba y abajo de la imagen */
  background-image: url(/FotosWeb/juguetes.png);
  height: 500px;
  width: 100%;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.top-half img {
  width: 100%; 
  height: 400px; 
  object-fit: cover; 
  display: block;
  margin: 0 auto;
}
/* CARDS - Carrusel*/
.cards-section-carousel {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0px;
  background-color: #FFF5EB;
  margin-bottom: -4px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  user-select: none;
  -webkit-user-drag: none;
  touch-action: pan-x;
  /* scroll-behavior: smooth; */ /* Opcional: descomentar si se desea suavidad en el scroll no automático */
  /* scroll-snap-type: none; */ /* Descomentar si se desactiva el scroll-snap */
}

.card {
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  text-align: center;
  display: inline-block;
  white-space: normal;
  flex: 0 0 auto;
  /* scroll-snap-align: none; */ /* Descomentar si se desactiva el scroll-snap */
  flex-shrink: 0;
}
.card-image {
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
.image-1 {
  background-image: url(./FotosWeb/Fotos.png);
}

.image-2{
  background-image: url(./FotosWeb/Empresas.png)
}

.image-3{
  background-image: url(./FotosWeb/Destinatarios.png);
  
}  

.image-4{
  background-image: url(./FotosWeb/ComoAyudar.png);

}

.image-5{
  background-image: url(./FotosWeb/Grupo.jpg);
}

.card-text {
  height: 70px;
}

.cards-section-carousel::-webkit-scrollbar {
  display: none;
}


.cards-section-carousel.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

/* Estilos para la imagen de la primera tarjeta */
.card:nth-child(1) img {
  border-radius: 0; /* Sin bordes redondeados, esquina cuadrada */
}



/* Estilos para la imagen de la segunda tarjeta */
.card:nth-child(2) img {
  border-radius: 0; /* Sin bordes redondeados, esquina cuadrada */
}

/* Estilos para la imagen de la tercera tarjeta */
.card:nth-child(3) img {
  border-radius: 0; /* Sin bordes redondeados, esquina cuadrada */
}


/*Estilos botones de scss a css*/
.portfolio-experiment {
  text-align: center; /* Centra el contenedor del botón */
  padding: 10px; /* Espacio alrededor para no cortar la animación */
  display: inline-block; /* Solo ocupa el espacio de su contenido */
}

.portfolio-experiment a {
  position: relative;
  display: inline-block;
  padding: 10px 20px; /* Reducir el relleno para disminuir el tamaño del botón */
  color: white; /* Color del texto del botón */
  font-size: 1em; /* Tamaño del texto */
  background: #2d2d2d; /* Fondo del botón */
  text-decoration: none; /* Quitar subrayado del texto */
  overflow: hidden; /* Evita que las líneas se desborden */
  margin: 10px 0; /* Margen arriba y abajo para espacio alrededor del botón */
  cursor: pointer;
}

.portfolio-experiment .line {
  position: absolute;
  background: #f26522; /* Color de la línea */
}

/* Posición de las líneas - deben estar fuera del área visible inicialmente */
.portfolio-experiment .line.-right,
.portfolio-experiment .line.-left {
  width: 3px; /* Ancho de la línea */
  bottom: 0;
  top: 0;
  transform: scaleY(0); /* Oculta verticalmente */
}

.portfolio-experiment .line.-top,
.portfolio-experiment .line.-bottom {
  height: 3px; /* Altura de la línea */
  left: 0;
  right: 0;
  transform: scaleX(0); /* Oculta horizontalmente */
}

/* Posiciones de inicio para las líneas */
.portfolio-experiment .line.-right { right: 0; }
.portfolio-experiment .line.-top { top: 0; }
.portfolio-experiment .line.-left { left: 0; }
.portfolio-experiment .line.-bottom { bottom: 0; }

/* Transiciones de líneas */
.portfolio-experiment .line {
  transition: transform 0.3s cubic-bezier(0,.53,.29,1), right 0.3s, left 0.3s;
}

/* Transiciones de líneas al pasar el ratón por encima */
.portfolio-experiment a:hover .line,
.portfolio-experiment a:focus .line {
  transform: scale(1);
}

/* Transiciones específicas para las líneas al pasar el ratón */
.portfolio-experiment a:hover .line.-top,
.portfolio-experiment a:focus .line.-top {
  transition-delay: 0.1s;
}

.portfolio-experiment a:hover .line.-right,
.portfolio-experiment a:focus .line.-right {
  transition-delay: 0.2s;
}

.portfolio-experiment a:hover .line.-bottom,
.portfolio-experiment a:focus .line.-bottom {
  transition-delay: 0.3s;
}

.portfolio-experiment a:hover .line.-left,
.portfolio-experiment a:focus .line.-left {
  transition-delay: 0.4s;
}

.grupo {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.texto1{
  text-align: center;
  margin-top: 125px;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.5s; /* Transición suave de la opacidad */
}

.texto2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.5s; /* Transición suave de la opacidad */
  width: 90%;
  margin: 0 auto;
  column-gap: 10%;
}

.parrafo-con-margen1 {
  text-align: justify;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.5s; /* Transición suave de la opacidad */
}

.texto3{
  text-align: center;
  margin-top: 125px;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.5s; /* Transición suave de la opacidad */
}

.imagen-grupo-1 {
  width: 30%;
}

.imagen-grupo-2 {
  width: 30%;

}

.imagen-grupo-3 {
  width: 30%;

} 

.imagen-grupo-4 {
  width: 30%;
  justify-content: flex-start;
} 

.parrafo-con-margen2{
  text-align: justify;
  text-align: left;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.5s;
}



.texto4{
  display: flex;
  flex-direction: row;
  column-gap: 10%;
  opacity: 0; /* Inicialmente oculto */
}

.parrafo-con-margen3{
  margin-bottom:50px ;
  opacity: 0; /* Inicialmente oculto */
}

.texto5{
  text-align: center;
  margin-top: 125px;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.5s; /* Transición suave de la opacidad */
  margin-bottom: 30px;
}

.texto6{
  display: flex;
  flex-direction: row;
  column-gap: 10%;
  opacity: 0; /* Inicialmente oculto */
}

.parrafo-con-margen4{
  margin-bottom:50px ;
  opacity: 0; /* Inicialmente oculto */
}

.texto7{
  text-align: center;
  margin-top: 125px;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.5s; /* Transición suave de la opacidad */
  margin-bottom: 30px;

}

.texto8{
  display: flex;
  flex-direction: row;
  column-gap: 10%;
  opacity: 0; /* Inicialmente oculto */
}

.parrafo-con-margen5{
  margin-bottom:50px ;
  opacity: 0; /* Inicialmente oculto */
}

.parrafo-con-margen6{
  margin-bottom:50px;
  text-align: justify;
  text-align: center;
  opacity: 0; /* Inicialmente oculto */
}

.textoHorario {
  text-align: center; 
  width: 100%;
  margin-top:50px;
  opacity: 0; /* Inicialmente oculto */
}

.textoFotos {
  text-align: center; 
  width: 100%;
  margin-top:50px;
  opacity: 0; /* Inicialmente oculto */
}

.collage {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cuatro columnas */
  grid-template-rows: minmax(auto, 50vh) minmax(auto, 50vh); /* Dos filas que ocupan cada una el 50% de la altura de la ventana */
  gap: 1rem; /* Espacio entre imágenes */
  width: 100vw; /* Ancho completo de la ventana */
  margin: 0; /* Sin margen exterior */
  padding: 1rem; /* Espacio alrededor del collage */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  background-color: #f3f1f1 /* Fondo blanco para la sección del collage */
}

/* Ajusta las imágenes a sus respectivas áreas */
.collage img:nth-child(1) { grid-column: 1 / span 2; grid-row: 1; } /* Imagen A ocupa dos columnas */
.collage img:nth-child(2) { grid-column: 3 / span 1; grid-row: 1; } /* Imagen B ocupa una columna */
.collage img:nth-child(3) { grid-column: 4 / span 1; grid-row: 1; } /* Imagen C ocupa una columna */
.collage img:nth-child(4) { grid-column: 1 / span 1; grid-row: 2; } /* Imagen D ocupa una columna */
.collage img:nth-child(5) { grid-column: 2 / span 3; grid-row: 2; } /* Imagen E ocupa tres columnas */

/* Asegura que las imágenes cubran sus respectivas celdas completamente */
.collage img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cubre el área de la celda sin distorsionarse */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Estilos opcionales para las imágenes */
.collage img {
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


.footer {
  background-color: #000000; 
  color: white; 
  text-align: center; 
  padding: 20px 0; 
  font-size: 14px;
  width: 100%; 
  position: relative; 
  left: 0; /* Alinea a la izquierda */
  bottom: 0; /* Alinea en la parte inferior */
  right: 0; /* Alinea a la derecha */
} 



/* Añade una clase para activar la animación cuando sea necesario */
.mostrar {
  opacity: 1;
  transition: opacity 1s; /* Transición suave de la opacidad */

}

/* RSPONSIVE DE MOVIL */


@media (max-width: 768px) {
.navbar {
  flex-direction: column;
  align-items: flex-start;
}

.navbar .logo,
.navbar .social-media,
.navbar .menu,
.navbar .login-logout {
  margin: 5px 0;
}

.cards-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar las tarjetas horizontalmente */
  justify-content: center; /* Centrar las tarjetas verticalmente, opcional */
}

.card {
  width: 90%; /* Aumentar el ancho de las tarjetas */
  margin: 10px auto; /* Agregar margen arriba y abajo, y auto para centrar horizontalmente */
  padding: 20px; /* Aumentar el padding para dar más espacio dentro de las tarjetas */
}

.card:nth-child(1), .card:nth-child(2), .card:nth-child(3){
  width: 70%;

}


.texto2, .texto4, .texto6, .texto8{
  flex-direction: column;
}

.imagen-grupo-1, .imagen-grupo-2, .imagen-grupo-3, .imagen-grupo-4{
  width: 100%;
  margin-bottom: 20px;
}

.parrafo-con-margen1,.parrafo-con-margen3, .parrafo-con-margen4, .parrafo-con-margen5  {
  text-align: justify;
  text-align: center;
}

.footer {
  font-size: 12px;
}

.navbar {
  flex-direction: column;
  align-items: center;
}

.navbar div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.logo, .social-media, .menu, .login-logout {
  margin-bottom: 10px;
}

.social-media a, .menu a {
  margin: 0 10px;
}

.navbar .logo{
  font-size: 25px;
}

.collage {
  grid-template-columns: 1fr; /* Una sola columna */
  grid-template-rows: auto; /* Altura automática para cada fila */
}

.collage img:nth-child(1), 
.collage img:nth-child(2), 
.collage img:nth-child(3), 
.collage img:nth-child(4), 
.collage img:nth-child(5) {
  grid-column: 1; /* Todas las imágenes en la primera columna */
  grid-row: auto; /* Altura automática para cada imagen */
}
}
