html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Courier New', monospace;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEEFDD; /* Color de fondo del navbar */
    padding: 10px 20px;
  }
  .navbar div {
    display: flex;
    align-items: center;
  }
  .navbar a {
    text-decoration: none;
    color: #5A5A5A; /* Color del texto de los enlaces */
    margin: 0 5px; /* Espaciado reducido entre los íconos */
  }
  .navbar .logo {
    font-size: 30px; /* Tamaño más grande para el texto del centro */
    font-weight: bold;
    color: #E63946; 
    letter-spacing: 0.05em; /* Espaciado entre letras para un estilo más moderno */
    text-shadow: 2px 2px #F1FAEE; 
    font-family: 'Courier New', monospace;
    margin-left: 100px;
  }
  .navbar .social-media {
    font-size: 20px;
  }
  .navbar .social-media a {
    margin-right: 15px;
  }
  .navbar .menu {
    font-size: 18px;
  }
  .navbar .menu a {
    margin-right: 10px;
  }
  .navbar .login-logout a {
    background-color: transparent;
    color: #5A5A5A;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  /* Estilos del Contenido Principal */
  .main-content {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Para asegurarse de que no haya desbordamiento si la imagen es muy grande */
  }
  
  .main-content img {
    max-width: 100%; /* Permite que la imagen sea hasta un máximo del ancho del contenedor */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    display: block; /* Elimina cualquier espacio adicional debajo de la imagen */
    object-fit: contain; /* Asegura que la imagen se ajuste sin cortarse ni perder proporción */
  }
  
  .top-half {
    text-align: center; /* Esto centra la imagen si es más pequeña que el ancho del contenedor */
    padding: 0px; /* Esto agrega un poco de espacio arriba y abajo de la imagen */
    background-image: url(Img/juguetes.png);
    height: 750px;
    width: 100%;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .top-half img {
    width: 100%; /* Estira la imagen para que ocupe el 100% del ancho del contenedor */
    height: 400px; /* Altura fija para evitar que la imagen se haga más alta */
    object-fit: cover; /* Asegura que la imagen cubra el área designada sin perder sus proporciones */
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente si es más pequeña que el contenedor */
  }
  /* CARDS*/
  .cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Esto mantiene el espacio entre las tarjetas */
    padding: 0px;
    background-color: #FFF5EB; /* Color crema para el fondo */
    margin-bottom: -4px;
  }
  
  .card {
    margin: 10px; /* Margen para asegurar espacio entre las tarjetas */
    padding: 15px; /* Relleno dentro de las tarjetas */
    border-radius: 10px; /* Bordes redondeados para las tarjetas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    background: #ffffff; /* Fondo blanco para las tarjetas */
    text-align: center; /* Centrado de texto para el contenido de las tarjetas */
  }
  
 /* Estilos para la primera tarjeta */
.card:nth-child(1) {
    width: 28%;
    background-color: #F0E5CF; /* Color crema claro */
    color: #333; /* Texto oscuro */
    font-family: 'Courier New', monospace;
    border: 1px solid #D5C2A5; /* Borde sólido */
  }
  
  /* Estilos para la imagen de la primera tarjeta */
  .card:nth-child(1) img {
    border-radius: 0; /* Sin bordes redondeados, esquina cuadrada */
  }
  
  /* Estilos para la segunda tarjeta */
  .card:nth-child(2) {
    width: 28%;
    background-color: #D6EAF8; /* Azul cielo */
    color: #27496D; /* Azul marino */
    font-family: 'Courier New', monospace;
    border: 1px dashed #AED6F1; /* Borde punteado */
  }
  
  /* Estilos para la imagen de la segunda tarjeta */
  .card:nth-child(2) img {
    border-radius: 0; /* Sin bordes redondeados, esquina cuadrada */
  }
  
  /* Estilos para la tercera tarjeta */
  .card:nth-child(3) {
    width: 28%;
    background-color: #FEF9E7; /* Amarillo pastel */
    color: #7D6608; /* Marrón oscuro */
    font-family: 'Courier New', monospace;
    border: 1px solid #F9E79F; /* Borde sólido */
  }
  
  /* Estilos para la imagen de la tercera tarjeta */
  .card:nth-child(3) img {
    border-radius: 0; /* Sin bordes redondeados, esquina cuadrada */
  }

  
  /*Estilos botones de scss a css*/
  .portfolio-experiment {
    text-align: center; /* Centra el contenedor del botón */
    padding: 10px; /* Espacio alrededor para no cortar la animación */
    display: inline-block; /* Solo ocupa el espacio de su contenido */
  }
  
  .portfolio-experiment a {
    position: relative;
    display: inline-block;
    padding: 10px 20px; /* Reducir el relleno para disminuir el tamaño del botón */
    color: white; /* Color del texto del botón */
    font-size: 1em; /* Tamaño del texto */
    background: #2d2d2d; /* Fondo del botón */
    text-decoration: none; /* Quitar subrayado del texto */
    overflow: hidden; /* Evita que las líneas se desborden */
    margin: 10px 0; /* Margen arriba y abajo para espacio alrededor del botón */
    cursor: pointer;
  }
  
  .portfolio-experiment .line {
    position: absolute;
    background: #f26522; /* Color de la línea */
  }
  
  /* Posición de las líneas - deben estar fuera del área visible inicialmente */
  .portfolio-experiment .line.-right,
  .portfolio-experiment .line.-left {
    width: 3px; /* Ancho de la línea */
    bottom: 0;
    top: 0;
    transform: scaleY(0); /* Oculta verticalmente */
  }
  
  .portfolio-experiment .line.-top,
  .portfolio-experiment .line.-bottom {
    height: 3px; /* Altura de la línea */
    left: 0;
    right: 0;
    transform: scaleX(0); /* Oculta horizontalmente */
  }
  
  /* Posiciones de inicio para las líneas */
  .portfolio-experiment .line.-right { right: 0; }
  .portfolio-experiment .line.-top { top: 0; }
  .portfolio-experiment .line.-left { left: 0; }
  .portfolio-experiment .line.-bottom { bottom: 0; }
  
  /* Transiciones de líneas */
  .portfolio-experiment .line {
    transition: transform 0.3s cubic-bezier(0,.53,.29,1), right 0.3s, left 0.3s;
  }
  
  /* Transiciones de líneas al pasar el ratón por encima */
  .portfolio-experiment a:hover .line,
  .portfolio-experiment a:focus .line {
    transform: scale(1);
  }
  
  /* Transiciones específicas para las líneas al pasar el ratón */
  .portfolio-experiment a:hover .line.-top,
  .portfolio-experiment a:focus .line.-top {
    transition-delay: 0.1s;
  }
  
  .portfolio-experiment a:hover .line.-right,
  .portfolio-experiment a:focus .line.-right {
    transition-delay: 0.2s;
  }
  
  .portfolio-experiment a:hover .line.-bottom,
  .portfolio-experiment a:focus .line.-bottom {
    transition-delay: 0.3s;
  }
  
  .portfolio-experiment a:hover .line.-left,
  .portfolio-experiment a:focus .line.-left {
    transition-delay: 0.4s;
  }
  
  .grupo {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
  }

  .texto1{
    text-align: center;
    margin-top: 125px;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s; /* Transición suave de la opacidad */
  }
  
  .texto2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s; /* Transición suave de la opacidad */
    width: 90%;
    margin: 0 auto;
    column-gap: 10%;
  }
  
  .parrafo-con-margen1 {
    text-align: justify;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s; /* Transición suave de la opacidad */
  }
  
  .texto3{
    text-align: center;
    margin-top: 125px;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s; /* Transición suave de la opacidad */
  }

  .imagen-grupo-1 {
    width: 30%;
  }
  
  .imagen-grupo-2 {
    width: 30%;

  }

  .parrafo-con-margen2{
    text-align: justify;
    text-align: left;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s;


  }
  
  .texto5 {
    text-align: center; /* Centra el texto horizontalmente */
    width: 100%; /* Asegura que el div ocupe el ancho completo */
    margin-top: 50px;
  }

  .texto4{
    display: flex;
    flex-direction: row;
    column-gap: 10%;

  }

  .parrafo-con-margen3{
    margin-bottom:50px ;
  }
  
  .texto-equipo {
    text-align: center;
    margin-top: 50px;
  }
  
  .contenido-equipo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .descripcion-equipo {
    width: 50%;
    padding-right: 20px; /* Espacio entre el texto y la imagen */
  }
  
  .imagen-equipo {
    width: 40%; /* Ajusta el ancho de la imagen según sea necesario */
    object-fit: cover; /* Asegura que la imagen mantenga sus proporciones */
  }


  .footer {
    background-color: #000000; /* Fondo oscuro para el pie de página */
    color: white; /* Texto en color blanco */
    text-align: center; /* Texto centrado */
    padding: 20px 0; /* Relleno arriba y abajo */
    font-size: 14px; /* Tamaño de fuente más pequeño para el pie de página */
    width: 100%; /* Asegura que el footer ocupe todo el ancho de la ventana */
    position: relative; /* Posición relativa para asegurarse de que se coloque correctamente */
    left: 0; /* Alinea a la izquierda */
    bottom: 0; /* Alinea en la parte inferior */
    right: 0; /* Alinea a la derecha */
}


  /* Añade una clase para activar la animación cuando sea necesario */
  .mostrar {
    opacity: 1;
  }

  
/* RSPONSIVE DE MOVIL */
  

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .logo,
  .navbar .social-media,
  .navbar .menu,
  .navbar .login-logout {
    margin: 5px 0;
  }

  .cards-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar las tarjetas horizontalmente */
    justify-content: center; /* Centrar las tarjetas verticalmente, opcional */
  }

  .card {
    width: 90%; /* Aumentar el ancho de las tarjetas */
    margin: 10px auto; /* Agregar margen arriba y abajo, y auto para centrar horizontalmente */
    padding: 20px; /* Aumentar el padding para dar más espacio dentro de las tarjetas */
  }

  .card:nth-child(1), .card:nth-child(2), .card:nth-child(3){
    width: 70%;

  }


  .texto2, .texto4 {
    flex-direction: column;
  }

  .imagen-grupo-1, .imagen-grupo-2 {
    width: 100%;
    margin-bottom: 20px;
  }

  .parrafo-con-margen1{
    text-align: justify;
  }

  .parrafo-con-margen3 {
    text-align: center;
  }

  .footer {
    font-size: 12px;

  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar div {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .logo, .social-media, .menu, .login-logout {
    margin-bottom: 10px;
  }

  .social-media a, .menu a {
    margin: 0 10px;
  }

  .navbar .logo{
    font-size: 25px;
  }

  .contenido-equipo {
    flex-direction: column;
  }

  .descripcion-equipo {
    width: 100%;
    padding-right: 0;
  }

  .imagen-equipo {
    width: 100%;
    margin-top: 20px;
  }


}

/*Responsive para pantalla Ultrawide*/

@media (min-width: 1920px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .logo,
  .navbar .social-media,
  .navbar .menu,
  .navbar .login-logout {
    margin: 0 15px;
  }

  .cards-section {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .card {
    width: 22%; /* Ajustar el ancho para una presentación en fila */
    margin: 10px;
    padding: 20px;
  }

  .texto2, .texto4 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .imagen-grupo-1, .imagen-grupo-2 {
    width: 50%; /* Ajustar el tamaño de la imagen según sea necesario */
    margin-bottom: 0;
  }

  .parrafo-con-margen1, .parrafo-con-margen3 {
    text-align: center;
  }

  .footer {
    font-size: 16px; /* Ajustar el tamaño de fuente para una mejor legibilidad */
  }

  .contenido-equipo {
    flex-direction: row;
  }

  .descripcion-equipo {
    width: 50%;
    padding-right: 20px;
  }

  .imagen-equipo {
    max-width: 40%;
    margin-top: 0;
  }
}